header {
    /* style */
    background-color: #0d9b4d;
    color: white;
    font-size: 30px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.haut {
    text-align: center;
    position:relative;
}

.haut img {
    width: 80%;
	height: auto;
    border-radius: 10px;
}


.titre-sur-image {
    position: absolute;
    top: 50%;                /* placement vertical */
    left: 50%;               /* placement horizontal */
    transform: translate(-50%, -50%); /* centre exact */
    color: black;            /* couleur du texte */
    font-size: 5rem;
    text-shadow: 0 0 10px white;  /* lisibilité sur l'image */
    margin: 0;
}


.bas {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.cote {
    position: relative;
    width: 45%;
}

.cote img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.cote h2 {
    position: absolute;
    bottom: 8%;       /* position du titre */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px white;
    margin: 0;

    white-space: nowrap;
}
